/* 
Font-Family: 'Roboto Condensed', Sans-Serif;
Font-Size: 35px;
*/

/* 
Font-Family: 'Cabin', Sans-Serif;
Font-Size: 16px;
*/

/*
Font-Family: 'Cardo', Serif;
Font-Size: 48px;
*/

/*
Font-Family: 'Work Sans', Sans-Serif;
Font-Size: 45px;
Font-Family: 'Open Sans', Sans-Serif;
Font-Size: 15px;
*/


body {
    color: black;
    background-color: rgb(240, 240, 240);
}

h1,h2,h3,h4,h5 {
    Font-Family: 'Work Sans', Sans-Serif;
}

p {
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 20px;
}

.navbrand {
    Font-Family: 'Work Sans', Sans-Serif;
    Font-Size: 48px;
}

.navigationbar {
    text-align: center; 
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 20px;
}

.btn {
    margin-right: -10rem;
}

.footer-head {
    font-size: 18px;
    Font-Family: 'Open Sans', Sans-Serif;
    color:rgb(240, 240, 240);
}

.footer-text {
    Font-Family: 'Open Sans', Sans-Serif;
    font-size: 15px;
    color: #777777;
}

.footer-link {
    color: #8490ff;
}

.card-text {
    Font-Family: 'Open Sans', Sans-Serif;
}

.link {
    color: black;
    text-align: center;
    Font-Family: 'Open Sans', Sans-Serif;
}

.aboutme-text {
    font-size: 20px !important;
    Font-Family: 'Open Sans', Sans-Serif;
    color: rgb(58, 58, 58);
}

.navi-brand {
    font-weight: 1000;
    text-transform: uppercase;
}

.section-gap {
    padding: 80px;
}

.footer-box {
    background-color: #04091e;
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    background:rgb(26, 26, 26) !important;
    color: #fff !important;
}

.divider1 {
    position: relative;
    top: 30%;
}

.divider2 {
    position: relative;
    top: 20%;
}

.divider2 {
    position: relative;
    top: -10%;
}
